@model RalphStore.Models.ProductModel
@{
    ViewBag.Title = "Model.ProductName";
}

        <div class="row">
            <div class="col-xs-4">
                @foreach (var img in Model.Images)
                {
                    <img src="@img" style="max-width:100%" />
                }
            </div>
            <div class="col-xs-8">
                <div class="well">
                   <h2>@Model.ProductName</h2>
                    <p>@Model.ProductPrice.Value.ToString("C")</p>
                    <p>@Model.ProductDescription</p>
                    @using (Html.BeginForm())
            {
                        @Html.HiddenFor(x => x.ID)
                        @Html.HiddenFor(x => x.ProductName)
                        @Html.HiddenFor(x => x.ProductPrice)
                        @Html.HiddenFor(x => x.ProductDescription)
                        <input type="submit" class="btn btn-default" value="Add To Cart" />
                    }

                </div>
            </div>
        </div>
    
