@model RalphStore.Models.LoginModel
@{
    ViewBag.Title = "Login";
}
<head>
    <style>
        
    </style>
</head>

@if (TempData["AccountConfirmed"] != null)
{
    <div class="alert alert-success">
        <p>Your account has been confirmed. Please log in to continue.</p>
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="well">
        <form>
            <div class="form-group">
                @Html.LabelFor(x => x.EmailAddress)
                @Html.TextBoxFor(x => x.EmailAddress, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.EmailAddress)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Password)
                @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Password)
                <label class="checkbox">
                    <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
                </label>
            </div>
            <div class="form-group">
                
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
                <input type="submit" value="Forgot your password?" class="btn btn-primary" />
            </div>
           
        </form>
    </div>
                   

                    
 
   }
